<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<main>
    <form method="POST" action="/main/edit/<%= event._id %>?_method=PUT">
        <input value="<%= event.title %>" placeholder="event title" name="title" type="text">
        <input value="<%= event.description %>" placeholder="description" name="description" type="text">
        <input value="<%= event.imageAddress %>" placeholder="image address" name="image" type="text">
        <input value="<%= event.access %>" name="access" type="checkbox">
    
        <h3>Location:</h3>
        <input value="<%= eventAddress.number %>" placeholder="address number" name="addressNum" type="number">
        <input value="<%= eventAddress.street %>" placeholder="street name" name="streetName" type="text">
        <input value="<%= eventAddress.city %>" placeholder="city" name="city" type="text">
        <input value="<%= eventAddress.state %>" placeholder="state: OR, CA, NV, ..." name="state" type="text">
    
        <input type="submit" value="Update">
    </form>
</main>


<%- include("../partials/footer") %>