<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<main class="edit-form___container">
    <h1>Edit event details:</h1>
    <form class="edit-form" method="POST" action="/main/edit/<%= event._id %>?_method=PUT">
        <Label for="title-label">Title:</Label>
        <input value="<%= event.title %>" placeholder="event title" name="title" type="text">

        <Label for="description-label">Description:</Label>
        <textarea id="description-label" placeholder="description" name="description"><%= event.description %></textarea>

        <Label for="image-label">Image:</Label>
        <input value="<%= event.imageAddress %>" placeholder="image address" name="image" type="text">

        <!-- <label for="access">Public</label>
        <input value="<%= event.access %>" name="access" type="checkbox"> -->
        <h3>Date:</h3>
        <input value="<%= event.date %>" class="addres-form" name="date" type="date">
        <input value="<%= event.time %>" class="addres-form" name="time" type="time">
    
        <h3>Location:</h3>
        <input value="<%= eventAddress.number %>" placeholder="address number" name="addressNum" type="number">
        <input value="<%= eventAddress.street %>" placeholder="street name" name="streetName" type="text">
        <input value="<%= eventAddress.city %>" placeholder="city" name="city" type="text">
        <input value="<%= eventAddress.state %>" placeholder="state: OR, CA, NV, ..." name="state" type="text">
    
        <input type="submit" value="Update">
    </form>

    <form class="delete-form" method="POST" action="/main/edit/<%= event._id %>?_method=DELETE">
        <h3>Delete event?</h3>
        <input type="submit" value="Delete">
    </form>
</main>


<%- include("../partials/footer") %>