<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<!-- 
    main includes: 
        -navbar
        -list of public events
        -list of private events
 -->
<%if(allEvents){%>
    <div class="public-events___container">

        <%allEvents.forEach((event) => {%>
            <a href="/main/show/<%= event._id %>">
                <article class="event-card">

                    <img src="<%= event.imageAddress %>" alt="event photo">

                    <div class="event-description">
                        <h1><%= event.title %></h1>
                        <p><%= event.description %></p>
                    </div>
                
                </article>
            </a>
        <%})%>

    </div>
<%} else {%>
    <h1>No events found!</h1>
<%}%>


<%- include("../partials/footer") %>