<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<!-- 
    main includes: 
        -navbar
        -list of public events
        -list of private events
 -->
 <main class="main-page___container">

    <div class="page-title___container">
        <h1>Public Events:</h1>
        <a href="/main/create">
            <h3>Create Event</h3>
        </a>
    </div>

    <%if(allEvents){%>
        <div class="public-events___container">
    
            <%allEvents.forEach((event) => {%>

                <a class="anchor-box" href="/main/show/<%= event._id %>">
                    <article class="event-card">
    
                        <img src="<%= event.imageAddress %>" alt="event photo">
    
                        <div class="event-description">
                            <h1><%= event.title %></h1>
                            <hr/>
                            <p id="event-description"><%= event.description %></p>
                            <p id="event-time"><%= event.date %></p>
                        </div>
                    
                    </article>
                </a>
                
            <%})%>
    
        </div>
    <%} else {%>
        <h1>No events found!</h1>
    <%}%>
 </main>

<%- include("../partials/footer") %>