<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<!-- 
    show includes: 
        -navbar
        -all information reguarding the event
 -->
<%if(event){%>
    <h1><%= event.title %></h1>
    <img alt="event photo" src="<%= event.imageAddress %>">
    <p><%= event.description %></p>
    <% if(user.username === eventAdmin.username){ %>
        <a href="/main/edit/<%= event._id %>">edit event</a>
    <%} else {%>
        <p>Not admin user</p>
    <%}%>
<%}%>

<%- include("../partials/footer") %>