<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<!-- 
    show includes: 
        -navbar
        -all information reguarding the event
 -->
 <script>
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: parseInt(document.getElementById("hLat").innerHTML), lng: parseInt(document.getElementById("hLng").innerHTML) },
        zoom: 12,
        });
        new google.maps.Marker({
        position: { lat: parseInt(document.getElementById("hLat").innerHTML), lng: parseInt(document.getElementById("hLng").innerHTML) },
        map: map,
        title: "Event Location"
        });
    }
 </script>
 <main class="show-page___container">
    <%if(event){%>
        <h1><%= event.title %></h1>
        <!-- <img alt="event photo" src="<%= event.imageAddress %>"> -->  FIXME: See why error is showing up
        <p><%= event.description %></p>
        <% if(user.id === eventAdmin._id.toString()){ %>
            <a href="/main/edit/<%= event._id %>">edit event</a>
        <%} else {%>
            <form action="<%= event._id %>/attend" method="POST" class="will-attend___form">
                <label for="sign-up___button">Are you interested in attending?</label>
                <input type="submit" value="sign up" id="sign-up___button">
            </form>
        <%}%>

        <div style="height: 500px; width: 100%; overflow: visible;" id="map"></div>
        <div id="hLat" style="visibility: hidden;"><%= event.latitude %></div>
        <div id="hLng" style="visibility: hidden;"><%= event.longitude %></div>
    <%}%>
 </main>

 <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_KEY %>&callback=initMap&libraries=&v=weekly"
      async
      defer
>
google.maps.event.addDomListener(window, 'load', initialize);
google.maps.event.trigger(map, 'resize');
document.getElementById("map").style.overflow = "visible";
</script>
<%- include("../partials/footer") %>