<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<main class="edit-profile___container">
    <form class="edit-profile___form" action="" method="POST">
        <input placeholder="Username" type="text" value="<%= data.username %>">
        <input placeholder="Email" type="text" value="<%= data.email %>">

        <h3>Location:</h3>
        <input value="<%= address.number %>" placeholder="address number" name="addressNum" type="number">
        <input value="<%= address.street %>" placeholder="street name" name="streetName" type="text">
        <input value="<%= address.city %>" placeholder="city" name="city" type="text">
        <input value="<%= address.state %>" placeholder="state: OR, CA, NV, ..." name="state" type="text">
    </form>
</main>

<%- include("../partials/footer") %>