<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<main class="edit-profile___container">
    <%if(err){%>
        <div class="err-container">
            <h1><%= err %></h1>
        </div>
    <%}%>
    <form class="edit-profile___form" action="/main/profile/edit/<%= data._id %>?_method=PUT" method="POST">
        <h2>User Info:</h2>
        <input class="edit-input" name="username" placeholder="Username" type="text" value="<%= data.username %>">
        <input class="edit-input" name="email" placeholder="Email" type="text" value="<%= data.email %>">

        <h3>Location:</h3>
        <input class="edit-input" value="<%= address.number %>" placeholder="address number" name="addressNum" type="number">
        <input class="edit-input" value="<%= address.street %>" placeholder="street name" name="streetName" type="text">
        <input class="edit-input" value="<%= address.city %>" placeholder="city" name="city" type="text">
        <input class="edit-input" value="<%= address.state %>" placeholder="state: OR, CA, NV, ..." name="state" type="text">

        <input id="submit-btn" type="submit" value="Update">
    </form>
</main>

<%- include("../partials/footer") %>